<?xml version="1.0"?>

<!-- USER SETTINGS TEMPLATE FILE                            -->
<!-- COPY TO 'default.build.user' AND MODIFY                -->

<project name="UserProps" xmlns="http://nant.sf.net/release/0.85-rc4/nant.xsd">

	<target name="userprops">
		
		<!-- proxy to use for http downloads; set useproxy to "true" to use -->
		<property name="useproxy" value="false" />
		<property name="proxyhost" value="hostname" />
		<property name="proxyport" value="8080" />

		<!-- credentials for http downloads; set useproxycred to "true" to use -->
		<property name="useproxycred" value="false" />
		<property name="proxyuser" value="username" />
		<property name="proxypass" value="password" />

		<!--  use NT Domain authentication -->
		<property name="proxydomain" value="" />

	</target>

</project>
