%form{action="/test/create/", method="post"}
	%ul
		%li
			%label{for="test_name"} Name
			%input{ id="test_name", name="test[name]", type="text", size="40" }/
		%li
			%label{for="test_category"} Category
			%input{ id="test_category", name="test[category]", type="text", size="90" }/
		%li
			%label{for="test_description"} Description
			%textarea{ id="test_description", name="test[description]", cols="80", rows="10" }
	%input{type="submit", name="save"}
