%form{ method="post", action="/user/dologin"}
	= WebHelper.ShowErrors(errors)
	%ul
		%li
			%label{ for="username" }= Language["Username"]
			%input{ type="text", id="username", name="username", size="20", value=username }
		%li
			%label{ for="password" }= Language["Password"]
			%input{ type="password", id="password", name="password", size="20", value="admin" }
	%input{ type="submit", value=Language["Login"] }