/* Page layout */
#wrap
{
	width: 950px;
	margin: 0 auto;
	font-family: Sans-Serif;
	font-size: 0.9em;
}
#main
{
	margin: 25px 0px 0px 0px;
	padding-left: 5px; /*	float: left;*/
}
#foot
{
	font-family: Arial;
	margin-top: 10px;
	padding-top: 5px;
	clear: both;
	text-align: left;
	border-top: 1px solid #eeeeee;
}

/* Page design */

#tbl h2
{
	font-size: 1.05em;
	margin: 0px;
	padding: 0px;
	background-color: #f9f9f9;
}

th
{
	text-align: left;
}

/* FORM Layout */

form ul
{
	padding-left: 0px;
}
form ul li
{
	list-style-type: none;
	padding-bottom: 5px;
}
form ul li label
{
	text-align: right;
	margin-right: 5px;
	width: 200px;
	clear: both;
	float: left;
}

/* Control.Modal */

#modal_container
{
	padding: 5px;
	background-color: #fff;
	border: 1px solid #666;
	overflow: auto;
	font-family: "Lucida Grande" ,Verdana;
	font-size: 12px;
	color: #333;
	text-align: left;
}

#modal_overlay
{
	background-color: #000;
}
